
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width:100%;
}

#main{
    height:100%;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1680667682187-52fd5e203efb?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

#overlay{
    height:100%;
    width: 100%;
    background-color: transparent;
}
#btn{
    

    height: 40px;
    width: 30px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}