*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: bisque;
}

#left{
    height: 100%;
    width: 77%;
    background-color: rgb(207, 178, 178);
}
#right{
    height: 100%;
    width: 23%;
    background-color: rgb(158, 105, 105);
}

#leftT{
    height: 70%;
    width: 100%;
    background-color: goldenrod;
    background-image: url(https://images.unsplash.com/photo-1501004318641-b39e6451bec6?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#leftB{
    height: 30%;
    width: 100%;
    background-color: rgb(29, 26, 19);
}
#rightT{
    height: 70%;
    width: 100%;
    background-color: rgb(48, 218, 32);
}
#rightB{
    height: 30%;
    width: 100%;
    background-color: rgb(140, 101, 10);
}
